:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #76d1d0;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}


html{
    box-sizing: border-box;
    font-size: 62.5%; /* REM */
}

*,*:before, *:after{
    box-sizing: border-box;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** GLOBALES **/

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

img {
    max-width: 100%; 
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

/** UTILIDADES **/

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/** --HEADER-- **/

.header{
    background-image: url(../img/banner.jpg);
    height: 55rem;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header__contenedor-texto{
    width: 70%;
    height: 12rem;
    color: var(--blanco);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.header__titulo{
    font-weight: bold;
}

.header__subtitulo{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

@media (min-width: 768px) {

    .header__titulo{
        font-size: 10rem;
    }

    .header__subtitulo{
        font-size: 3rem;
    }
}

/* -----NAVEGACION----- */

.barra{
    padding: 0.5rem 10rem 0rem 10rem;
    background: rgba(34,34,34,0.75);
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav__link{
    color: white;
    text-decoration: none;
}

.nav__menu{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav__item{
    font-size: 2rem;
}

.nav__link:hover{
    font-weight: bold;
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 3rem;
    pad: 0 2rem;
    line-height: 6rem;
    cursor: pointer;

    display: none;
}

@media (max-width: 768px) {
    .barra{
        height: 7rem;
    }
    
    .logo{
        color: var(--blanco);
        margin: 0 auto;
    }
    
    .logo__nombre{
        font-weight: 400;
        font-size: 3.5rem;

    }
    
    .logo__bold{
        font-weight: 700;
        font-size: 3.5rem;
    }
    
    .nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap:15rem;
    }
    
    .nav__menu{
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: fixed;
        left: 0;
        top: 7rem;
        width: 100%;
        padding: 2rem 0;
         background: rgba(34,34,34,0.75);
        background-color: rgba(0,0,0,0.8);
        height: 30vh;
        margin: 0;      
        
        left: 100%;
        transition: left 0.3s;
    }
    
    .nav__item{
        font-size: 2rem;
    }
    
    .nav__link:hover{
        font-weight: bold;
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu__visible{
        left: 0;
    }
    
}

/*** -----INICIO----- ***/

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.sidebar__titulo{
    border-bottom: 1px solid  var(--gris);
    padding-bottom: 3rem;
}

.entrada{
    border-bottom: 1px solid  var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}

.boton:hover{
    cursor: pointer;
}

.boton--primario{
    background-color: var(--negro);
}

.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type{
    border: none;
    margin-bottom: 0;
}

.widget-curso__label,
.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info,
.curso__info{
    font-weight: normal;
}

.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info{
    font-size: 2rem;
}

/*** -----SOBRE NOSOTROS----- ***/

@media (min-width: 992px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .sobre-nosotros__parrafo{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }  
}

/*** -----CURSOS----- ***/

.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type{
    border: none;
}


/*** -----CONTACTO----- ***/

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    padding: 0rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field{
    flex: 1;
   border: 1px solid var(--gris);
   width: 100%;
}

.campo__field--textarea{
    height: 20rem;
}

.boton--contacto{
    width: 100%;
}

/*** -----FOOTER----- ***/
.footer{
    background-color: var(--negro);
    height: 8rem;
    margin-top: 4rem;
}

.footer__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
}

@media (max-width: 768px) {

    .footer{
        height: 11rem;
    }
    .footer__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 5rem;
        gap: 1rem;
    }
    .contenedor-iconos{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        gap: 1rem;
        margin-bottom: 1rem;
    }
}

.contenedor-iconos{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 1rem;
}

.icono-footer{
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.copy{
    color: white;
    font-size: 1rem;
    text-align: center;
}

